[alias]
xtask = "run --manifest-path ./xtask/Cargo.toml --"

[build]
rustflags = ["--cfg", "tokio_unstable"]

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
strip = true
panic = "abort"
